.MobileIndexPageMainWrapper {

    // MobileIndexPage.scss
    .mobile-index-page {
        padding: 16px 20px;
        background-color: #ffffff;
        min-height: 100vh;
        padding-bottom: 7rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    .menu-button {
        background: #6CCEE6;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        box-shadow: 4.48px 35.87px 67.25px 4.48px #0000000A;
        font-size: 29px;
        border: none;
        cursor: pointer;


    }

    .welcome-content {
        font-family: 15px;
        font-family: Roboto;
        font-weight: 600;
        letter-spacing: 0.12px;
        text-align: center;
        color: black;

        span {
            color: #6BCCE5;
        }
    }

    .title {
        font-family: 25px;
        font-family: Montserrat;
        font-weight: 700;
        letter-spacing: 0.2px;
        text-align: center;
        color: black;
    }

    .search-container {
        position: relative;
        margin-bottom: 24px !important;
        width: 90%;
        height: 40px;
        overflow: hidden;
        margin: auto;
        // background-color: red;
        border: 2.24px solid #000000;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;

    }

    .search-icon {
        padding: 0 !important;
        margin: 0 !important;
    }

    .search-input {
        width: 100%;
        border: none;
        height: 100%;
        padding: 0px 9px;
        font-size: 14px;

        &::placeholder {
            color: #757575;
            font-size: 12px;
        }
    }

    :focus {
        outline: none;
    }

    .voice-search-button {
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        padding: 8px;
        cursor: pointer;
    }

    .promo-card {
        background: #6BCCE5;
        border-radius: 16px;
        padding: 24px;
        position: relative;
        overflow: hidden;
    }

    .promo-content {
        max-width: 71%;
    }

    .promo-title {
        font-family: Roboto;
        font-weight: 600;
        font-size: 20.62px;
        letter-spacing: 0.12px;
        color: white;

    }

    .explore-button {
        background-color: #ffd700;
        border: none;
        padding: 4px 20px;
        border-radius: 8px;
        font-weight: 600;
        margin-top: 15px;
        font-family: roboto;
        cursor: pointer;
        font-size: 12px;
    }

    .phone-mockup {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 100px;
        height: 100px;
        background-image: url('/Images/mobile-phone.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    .PaperCategories {
        .cat-main-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 13px !important;
            font-family: Montserrat;
            font-weight: 500;
            letter-spacing: 0.1px;
            padding-top: 20px;

            h6 {
                font-size: 13px !important;
                font-family: Montserrat;
                font-weight: 700;
                letter-spacing: 0.1px;
                padding: 0 !important;
                margin: 0 !important;
            }

            a {
                color: blue;
            }
        }
    }

    .category-carousel-wrapper {
        margin-top: 10px;

        h3 {
            font-family: Montserrat;
            font-weight: 600;
            letter-spacing: 0.2px;
            text-align: left;
            color: black;
            font-size: 20px;
            padding-top: 10px !important;
          

        }

        .category-card {
            width: 95%;
            margin: auto !important;

            .category-img {
                height: 150px;
                background-color: yellow;
                width: 100%;
                border-radius: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-description {
                h6 {
                    font-family: 25px;
                    font-family: Montserrat;
                    font-weight: 600;
                    letter-spacing: 0.2px;
                    text-align: left;
                    color: black;
                    padding-top: 10px !important;
                    padding: 0;
                    margin: 0;

                }

                p {
                    font-family: 15px;
                    font-family: Montserrat;
                    font-weight: 400;
                    letter-spacing: 0.2px;
                    text-align: left;
                    color: black;
                    padding: 0;
                    margin: 0;
                    color: #0000007D;


                }
            }
        }
    }
}