.PaperDetailPageMainWrapper {
   
  .back-button{
    background-color: #6BCCE5;
    color: white;
  }
        .module-card {
            margin-bottom: 25px;
            border: 0.8px solid #000000;
            width: 100%;
            background-color: #6BCCE5 !important;
            display: flex !important;
            justify-content: space-between;
            align-items: center;

            padding: 1.5rem;
            border-radius: 9px;

            h3{
                font-family: Montserrat !important;
                font-size: 18.34px;
                font-weight: 700;
                line-height: 23.25px;
                letter-spacing: -0.37582165002822876px;
            }

            p {
                font-family: Inter;
                font-size: 12.17px;
                font-weight: 400;
                line-height: 7.32px;
                margin-top: 10px;
            }

            .button-heart {
                display: flex;
                gap: 1rem;
                align-items: center;

                button {
                    background-color: #FBD63C;
                    border: 1px solid #FBD63C;
                    font-family: Montserrat;
                    border-radius: 7px;
                    font-size: 12.57px;
                    font-weight: 700;
                    line-height: 8.76px;
                    padding: 10px 20px;
                }

                .hear-icon {
                    font-size: 25px;
                }
            }
            .locked-content{
                cursor: not-allowed;
                background-color: gray !important;
                border: 1px solid gray !important;
                color: white !important;
                span{
                    margin-left: 10px;
                }
            }
        
    }

    .detail-page-main {
        display: flex;
    }

    .left-side {
        width: 14%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        z-index: 1000;
    }

    .right-side {
        padding: 1rem;
        position: relative;
        width: 86%;
        margin-left: 14%;
    


        .back-btn-container {
            background-color: #6BCCE5;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;

        }

        .paper-title {
            font-family: Montserrat;
            font-size: 29.6px;
            font-weight: 600;
            line-height: 34.08px;
            letter-spacing: -0.03em;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            padding-top: 1rem;
        }

        .contents-main-wrapper {
            padding-top: 2rem;

            .content-left {
                padding: 1rem;
                min-height: 100vh;
                border-right: 2px solid black;
                // background-color: blue;
                .module-card {
                    margin-bottom: 10px;
                    width: 100%;
                    background-color: #6BCCE5;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1.5rem;
                    border-radius: 9px;

                    .module-title {
                        font-family: Montserrat;
                        font-size: 18.34px;
                        font-weight: 700;
                        line-height: 13.25px;
                        letter-spacing: -0.37582165002822876px;
                    }

                    p {
                        font-family: Inter;
                        font-size: 12.17px;
                        font-weight: 400;
                        line-height: 7.32px;
                        margin-top: 10px;
                    }

                    .button-heart {
                        display: flex;
                        gap: 1rem;
                        align-items: center;

                        button {
                            background-color: #FBD63C;
                            border: 1px solid #FBD63C;
                            font-family: Montserrat;
                            border-radius: 7px;
                            font-size: 12.57px;
                            font-weight: 700;
                            line-height: 8.76px;
                            padding: 10px 20px;
                        }

                        .hear-icon {
                            font-size: 25px;
                        }
                    }
                }
                .questianPaper-card{
                    h4{
                        margin-bottom: 1rem;
                    }
                }
            }

            .content-right {
                padding: 1rem;
                // background-color: red;
                // position: sticky;
                // top: 1rem;
                // height: 100vh;
                .box {
                    width: 100%;
                    height: 45px;
                    background-color: #EBEBEB;
                    color: black;
                    border-radius: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 16.12px;
                    letter-spacing: -0.03em;
                    cursor: pointer;
                    transition: .3s;
                }

                .box:hover {
                    background-color: #6BCCE5;
                }

                .active-box {
                    background-color: #6BCCE5;
                }

                .content-details {
                    padding-top: 2rem;


                    .study-note-card,
                    .vedio-clas-card,
                    .weekly-Challange {
                        flex: 1;
                        min-width: 200px;
                        padding: 15px;
                        background: #fff;
                        border-radius: 8px;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                        transition: all 0.3s ease;
                        border: 2px solid transparent;

                        &.active {
                            border-color: #6BCCE5;
                        }
                    }

                    .study-note-card {


                        display: flex;
                        gap: 1rem;
                        padding: 1rem;
                        border: 1.93px solid #00000047;
                        height: 90px;
                        border-radius: 13px;
                        align-items: center;
                        font-family: Montserrat;
                        font-size: 15.59px;
                        font-weight: 600;
                        line-height: 19px;
                        margin-bottom: 1rem;
                        cursor: pointer;

                        &.activeWeek {
                            border: 3px solid red !important;
                        }
                    }

                    .study-note-card:hover {
                        border: 1.93px solid #6BCCE5;
                    }
                }

                .vedio-clas-card {
                    border: 1.32px solid #00000047;
                    box-shadow: 0px 4.1px 4.1px 0px #00000040;
                    height: 100px;
                    border-radius: 19px;
                    padding: 2.5rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-bottom: 1rem;

                    span {
                        font-family: Montserrat;
                        font-size: 22.27px;
                        font-weight: 600;
                        line-height: 27.15px;
                    }


                }

                .vedio-clas-card:hover {
                    border: 1.32px solid #FBD63C;
                    cursor: pointer;
                }

            }

        }

        .weekly-Challange {
            height: 90px;
            display: flex;
            width: 100%;
            margin: auto;
            align-items: center;
            justify-content: start;
            padding-left: 4rem;
            gap: 1rem;
            border: 1px solid #00000047;
            border-radius: 13px;
            margin-bottom: 30px;

            span {
                font-family: Montserrat;
                font-size: 15.59px;
                font-weight: 600;
                line-height: 19px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

            }
        }

        .quiz-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background: white;

            .header {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 24px;

                .back-arrow {
                    width: 24px;
                    height: 24px;
                }

                h1 {
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 24px;
            }

            .quiz-content {
                border: 1px solid #e5e7eb;
                border-radius: 8px;
                //   padding: 16px;

                .quiz-header {
                    display: flex;
                    justify-content: space-between;
                    gap: 13rem;
                    height: 45px;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    align-items: center;
                    color: #6b7280;
                    margin-bottom: 16px;
                    border-bottom: 1px solid #e5e7eb;
                }

                .question {
                    margin-bottom: 24px;

                    h3 {
                        font-family: Montserrat;
                        font-size: 16.02px;
                        font-weight: 600;
                        padding-left: 1rem;
                        line-height: 17.33px;
                        letter-spacing: -0.5414196252822876px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        display: flex;

                        span {
                            width: 12%;
                        }

                        p {}
                    }

                    .options {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        .option {
                            display: flex;
                            align-items: center;
                            width: 80%;
                            margin: auto;
                            height: 54px;
                            gap: 12px;
                            padding-left: 15px;
                            padding-right: 16px;
                            border: 1px solid #e5e7eb;
                            border-radius: 8px;
                            cursor: pointer;
                            transition: all 0.2s;

                            span {
                                font-family: Inter;
                                font-size: 13.4px;
                                font-weight: 600;
                                line-height: 12.51px;
                                text-align: left;
                                text-underline-position: from-font;
                                text-decoration-skip-ink: none;

                            }

                            &:hover {
                                background-color: #f9fafb;
                            }

                            &.selected {
                                border-color: #3b82f6;
                                background-color: #eff6ff;
                            }

                            .option-letter {
                                width: 32px;
                                height: 32px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #f3f4f6;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .buttons {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    gap: 1rem;
                    padding-bottom: 2rem;

                    button,
                    a {
                        width: 39%;
                        height: 54px;
                        border-radius: 4px;
                        opacity: 0px;
                        text-align: center;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        transition: all 0.2s;
                        font-family: Montserrat;
                        font-size: 16.02px;
                        font-weight: 600;
                        line-height: 17.33px;
                        letter-spacing: -0.5414196252822876px;
                        // text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;


                        &.ignore {
                            background-color: #D6F1F8;
                            color: black;

                            &:hover {
                                background-color: #dbeafe;
                            }
                        }

                        &.next {
                            background: #6BCCE5;
                            ;
                            color: black;

                            &:hover {
                                background-color: #54a1b4;
                            }
                        }
                    }
                }
            }
        }

        .main-content {
            margin-top: 2rem;

            .main-content-left {
                padding: 1rem;

                .search-bar {
                    width: 100%;
                    height: 50px;
                    border-radius: 16px;
                    border: 2px solid #00000061;
                    margin: auto;
                    display: flex;
                    padding-left: 10px;
                    align-items: center;
                    gap: 10px;
                    overflow: hidden;

                    .search-icon {
                        font-size: 19px;
                    }

                    input {
                        height: 47px;
                        border: none;
                        width: 750px;
                        font-family: Inter;
                        font-size: 16.2px;
                        font-weight: 400;
                        line-height: 19.61px;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                    }

                    input::placeholder {
                        font-family: Inter;
                        font-size: 16.2px;
                        font-weight: 400;
                        line-height: 19.61px;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                    }

                    input:focus {
                        outline: none;
                    }

                }

                .vedio-card {
                    margin-top: 2rem;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 11px;
                    border: 1px solid #00000091;
                    position: sticky;
                    top: 1rem;

                    .vedio-container {
                        width: 100%;
                        height: 500px;
                        position: relative;

                        .main-img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .play-image {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }

                        .vedio-details {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            display: flex;
                            justify-content: space-between;
                            border-radius: 11px;
                            background-color: white;
                            width: 100%;
                            padding: 1rem;

                            h1 {
                                font-family: Montserrat;
                                margin-top: 0 !important;
                                padding-top: 0 !important;
                                font-size: 25.95px;
                                font-weight: 700;
                                text-align: left;
                                letter-spacing: -0.9268941283226013px;
                            }

                            p {
                                width: 70%;
                                margin-bottom: 0 !important;
                                font-family: Montserrat;
                                font-size: 13.81px;
                                font-weight: 500;
                                line-height: 15.78px;
                                text-align: left;
                            }

                            .fav-icon {
                                font-size: 30px;
                            }
                        }
                    }
                }
            }

        }


        .videoMainWrapper {
            .video-content-wrapper {
                .main-content-right {

                    .vedio-list-wrapper {
                        padding-top: 2.4rem;

                        .vedio-item {
                            margin-bottom: 1rem;

                            .vedio-item-left {
                                .thumbnile {
                                    width: 100% !important;
                                    height: 135px;
                                    margin: auto !important;
                                    // background-color: red;
                                    border-radius: 10px;
                                    overflow: hidden;
                                    position: relative;

                                    .thumbnile-image {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }

                                    .play-icon {
                                        position: absolute;
                                        right: 10px;
                                        top: 10px;
                                        color: white;
                                        font-size: 37px;
                                    }
                                }
                            }

                            .vedio-item-right {
                                h1 {
                                    font-family: Montserrat;
                                    font-size: 19.18px;
                                    font-weight: 700;
                                    line-height: 19.73px;
                                    letter-spacing: -0.02em;
                                    text-align: left;
                                    padding-top: 0 !important;
                                    margin-top: 0 !important;
                                    margin-bottom: 0 !important;
                                }

                                .teacer-name {
                                    font-family: Inter;
                                    font-size: 10.57px;
                                    font-weight: 500;
                                    line-height: 10.7px;
                                    padding-top: 5px;
                                }

                                .vedio-description {
                                    font-family: Inter;
                                    font-size: 12.26px;
                                    font-weight: 600;
                                    line-height: 12.8px;
                                    text-align: left;
                                    margin-top: 10px;
                                }

                                .button-icon {
                                    display: flex;
                                    gap: 1rem;
                                    align-items: center;

                                    button {
                                        background-color: #FBD63C;
                                        padding: 5px 25px;
                                        border: 1px solid #FBD63C;
                                        font-family: Montserrat;
                                        font-size: 12.51px;
                                        font-weight: 600;
                                        border-radius: 9px;
                                    }

                                    .heart-icon {
                                        font-size: 25px;
                                    }
                                }
                            }

                        }

                    }
                }
            }

        }

        .small-screen-banner {
            display: none;

            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            height: 174px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @media (max-width:575px) {
        .user-profilee{
            display: none !important;
        }
        .right-side {
            width: 100% !important;
            padding-bottom: 90px !important;
            margin: 0 !important;
        }

        .user-pro {
            display: none !important;
        }

        .paper-title {
            font-size: 20px !important;
            text-align: center !important;
            padding-bottom: 2rem !important;
        }

        .small-screen-banner {

            display: block !important;
        }

        .content-right {
            order: 1;

            .box {
                // background-color: red !important;
                height: 30px !important;
                border-radius: 20px !important;
                width: 100% !important;
                font-size: 11px !important;
                font-weight: 500 !important;
            }

            .active {
                background: #6BCCE5 !important;
            }



        }

        .content-left {
            order: 2;
            border: none !important;
            height: auto !important;
            min-height: auto !important;

        }

        .module-title {
            font-size: 12px !important;
        }

        .module-card p {
            font-size: 10px !important;
        }

        .button-heart button {
            padding: 3px 8px !important;
            font-size: 10px !important;
            font-weight: 500 !important;
        }

        #submoduleCard {
            p {
                font-size: 15px !important;
                padding-bottom: 0 !important;
                width: 80% !important;
            }

            .module-title {
                font-size: 15px !important;
                padding-bottom: 0 !important;
            }

        }

        .quiz-container {
            padding: 10px !important;

            .question h3 {
                // padding-left: 10px !important;
                font-size: 11px !important;

                span {
                    width: 20% !important;
                }
            }

            .option span {
                font-size: 8px !important;
            }

            .option-letter {
                width: 20px !important;
                height: 20px !important;
            }

            .quiz-header {
                justify-content: space-between !important;
                gap: 0 !important;
                padding-right: 10px !important;
            }
        }

        .buttons button {
            width: 425 !important;
            height: 28px !important;
            font-size: 11px !important;
        }

        .thumbnile {
            height: 140px !important;
        }

        .vedio-item-right {
            margin-top: 20px !important;
        }

    }

    @media (min-width:576px) and (max-width:768px) {
        .right-side {
            width: 100% !important;
            padding-bottom: 90px !important;
            margin: 0 !important;
        }

        .user-pro {
            display: none !important;
        }

        .paper-title {
            font-size: 20px !important;
            text-align: center !important;
            padding-bottom: 2rem !important;
        }

        .small-screen-banner {

            display: block !important;
        }

        .content-right {
            order: 1;

            .box {
                // background-color: red !important;
                height: 40px !important;
                border-radius: 20px !important;
                width: 100% !important;
                font-size: 15px !important;
                font-weight: 500 !important;
            }

            .active {
                background: #6BCCE5 !important;
            }



        }

        .content-left {
            order: 2;
            border: none !important;
            height: auto !important;
            min-height: auto !important;

        }

        .module-title {
            font-size: 12px !important;
        }

        .module-card p {
            font-size: 10px !important;
        }

        .button-heart button {
            padding: 3px 8px !important;
            font-size: 10px !important;
            font-weight: 500 !important;
        }

        #submoduleCard {
            p {
                font-size: 15px !important;
                padding-bottom: 0 !important;
                width: 80% !important;
            }

            .module-title {
                font-size: 15px !important;
                padding-bottom: 0 !important;
            }

        }

        .quiz-container {
            padding: 10px !important;

            .question h3 {
                // padding-left: 10px !important;
                font-size: 11px !important;

                span {
                    width: 20% !important;
                }
            }

            .option span {
                font-size: 8px !important;
            }

            .option-letter {
                width: 20px !important;
                height: 20px !important;
            }

            .quiz-header {
                justify-content: space-between !important;
                gap: 0 !important;
                padding-right: 10px !important;
            }
        }

        .buttons button {
            width: 425 !important;
            height: 28px !important;
            font-size: 11px !important;
        }

    }

    @media (min-width:769px) and (max-width:993px) {
        .right-side {
            width: 100% !important;
            padding-bottom: 90px !important;
            margin: 0 !important;
        }

        .paper-title {
            font-size: 25px !important;
            text-align: center !important;
            padding-bottom: 2rem !important;
        }

        .small-screen-banner {

            display: block !important;
        }

        .content-right {
            order: 1;

            .box {
                // background-color: red !important;
                height: 40px !important;
                border-radius: 20px !important;
                width: 100% !important;
                font-size: 16px !important;
                font-weight: 500 !important;
            }

            .active {
                background: #6BCCE5 !important;
            }



        }

        .content-left {
            order: 2;
            border: none !important;
            height: auto !important;
            min-height: auto !important;

        }

        .module-title {
            font-size: 18px !important;
        }

        .module-card p {
            font-size: 13px !important;
        }

        .button-heart button {
            padding: 3px 8px !important;
            font-size: 10px !important;
            font-weight: 500 !important;
        }

        #submoduleCard {
            p {
                font-size: 15px !important;
                padding-bottom: 0 !important;
                width: 80% !important;
            }

            .module-title {
                font-size: 15px !important;
                padding-bottom: 0 !important;
            }

        }

        .quiz-container {
            padding: 10px !important;

            .question h3 {
                // padding-left: 10px !important;
                font-size: 11px !important;

                span {
                    width: 20% !important;
                }
            }

            .option span {
                font-size: 8px !important;
            }

            .option-letter {
                width: 20px !important;
                height: 20px !important;
            }

            .quiz-header {
                justify-content: space-between !important;
                gap: 0 !important;
                padding-right: 10px !important;
            }
        }

        .buttons button {
            width: 425 !important;
            height: 28px !important;
            font-size: 11px !important;
        }

    }

    @media (min-width:994px) and (max-width:1200px) {


        .paper-title {
            font-size: 25px !important;
            text-align: center !important;
            padding-bottom: 2rem !important;
        }

        .small-screen-banner {

            display: block !important;
        }

        .content-right {
            order: 1;

            .box {
                // background-color: red !important;
                height: 40px !important;
                border-radius: 20px !important;
                width: 100% !important;
                font-size: 16px !important;
                font-weight: 500 !important;
            }

            .active {
                background: #6BCCE5 !important;
            }



        }

        .content-left {
            order: 2;
            border: none !important;
            height: auto !important;
            min-height: auto !important;

        }

        .module-title {
            font-size: 18px !important;
        }

        .module-card p {
            font-size: 13px !important;
        }

        .button-heart button {
            padding: 3px 8px !important;
            font-size: 10px !important;
            font-weight: 500 !important;
        }

        #submoduleCard {
            p {
                font-size: 15px !important;
                padding-bottom: 0 !important;
                width: 80% !important;
            }

            .module-title {
                font-size: 15px !important;
                padding-bottom: 0 !important;
            }

        }

        .quiz-container {
            padding: 10px !important;

            .question h3 {
                // padding-left: 10px !important;
                font-size: 11px !important;

                span {
                    width: 20% !important;
                }
            }

            .option span {
                font-size: 8px !important;
            }

            .option-letter {
                width: 20px !important;
                height: 20px !important;
            }

            .quiz-header {
                justify-content: space-between !important;
                gap: 0 !important;
                padding-right: 10px !important;
            }
        }

        .buttons button {
            width: 425 !important;
            height: 28px !important;
            font-size: 11px !important;
        }

    }


}